img{
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 10px;
}
img:hover{
    transform: scale(1.01);
}
.main{
     display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin-left: 50px;
       
}
.second{
    width: 300px;
    height: 250px;
    margin: 55px;
}
*{
    font-family: monospace;
}